.btn {
    padding:10px 30px;
    border:0px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    font-family: inherit;
    &:hover, &:focus {
        opacity: .8;
    }
}
.primary {
    background-color: darkblue;
    color: #fff;
}
.success {
    background-color: forestgreen;
    color:#fff;
}
.danger {
    background-color: red;
    color: #fff;
}
.plain {
    background:none;
    padding:0px;
    &:hover {
        text-decoration: underline;
    }
}
.btn-link {
    background-color: transparent;
    color: inherit;
}