.card {
    border: 1px solid #e7e7e7;
    box-shadow: 0px 0px 10px -7px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;

    .cBody {
        padding: 10px;
    }

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin: 10px auto;
        display: block;
    }

    a {
        text-decoration: none;
        border: 1px solid #0a8ce9;
        color: #0a8ce9;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .2rem;
        padding: 10px 30px 7px;
        display: inline-block;
        text-transform: uppercase;
        margin-top: 20px;
        border-radius: 30px;
        line-height: 16px;

        &:hover {
            border: 1px solid #0a8ce9;
            color: #000;
            background-color: #0a8ce9;
        }
    }

    &.list {
        display: flex;
        border: 0px;
        box-shadow: none;

        img {
            width: 500px;
            height: 500px;
        }

        .cBody {
            padding-left: 20px;

            .cardHeading {
                font-size: 30px;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 16px;
            }

            .btn {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }
            & > div {
                margin-bottom: 16px; 
            }
        }
    }
}