input {
    background-color: #fff;
    color: #212121;
    height: 38px;
    border:1px solid #ccc;
    padding:0px 12px;
    width:100%;
    border-radius: 8px;
    box-sizing: border-box;
}
textarea {
    background-color: #fff;
    color: #212121;
    height: 120px;
    border:1px solid #ccc;
    padding:12px;
    width:100%;
    border-radius: 8px;
    box-sizing: border-box;
}