.search {
  .search-container {
    position: relative;

    input {
      border-radius: 0px;
      height: 40px;
      padding: 0px 16px;
      position: relative;
      width: 100%;
      border: 1px solid #000;
    }

    label {
      &:empty {
        margin: 0px;
        padding: 0px;
      }
    }

    .srchBtn {
      border: 1px solid #000;
      border-radius: 0px;
      cursor: pointer;
    }

    &.searchGroupBtn {
      display: flex;
      align-items: center;
      input {
        border-right: 0px;
      }

      .srchBtn {
        border: 1px solid #000;
        border-left: 0px;
      }
    }
  }
}
