$smallMobile : 479px;
$mediumMobile : 639px;
$largeMobile : 767px;
$smallTablet : 880px;
$mediumTablet : 979px;
$largeTablet : 1023px;
$smallDesktop : 1200px;
$mediumDestop : 1366px;
$largeDestop : 1440px;
