.mainClass {
  .customClass {
    color: #fff;
    &:after {
      border-color: #fff !important;
    }
  }
  .drop_container {
    width: 300px !important;
    right:0px;
    ul {
      li {
        display: block;
        margin-bottom: 10px;
        margin-right: 0px;;
        &:last-child {
          margin: 0px;
        }
        a {
          color: #000;
          &:hover {
            color: #000;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
